<div id="footer">
  <div class="container text-center"  data-sal="slide-up" data-sal="fade">
      <h1>If you only had one acre, what would you grow?</h1>
    <div class="email-us" data-sal="slide-up" data-sal="fade">
      <a href="mailto:hello@acre.vc">
        Email us at hello@acre.vc
      </a>
    </div>
    <div class="vertical-divider" data-sal="slide-up"></div>  
  </div>
  <div id="footer-bottom" class="d-flex" data-sal="slide-up" data-sal="fade" data-sal-delay="50">
    <div class="d-flex block first" data-sal="slide-up">
      <p class="copyright terms">
        <a href="./terms-conditions.html">Terms and conditions</a>
      </p>
    </div>
    <div class="d-flex block middle" data-sal="slide-up">
      <img height="42" width="40" src="../../src/assets/img/footer-logo.svg" alt="Acre logo">
    </div>
    <div class="d-flex block last" data-sal="slide-up">
      <p class="copyright">© Acre Venture Partners</p>
    </div>
  </div>
</div>