<div id="introduction" class="container pt-5 px-2">
  <p class="h2 fade-in">
    We invest in companies creating fundamental change in food and agriculture in order to address large scale problems in
    human and environmental health.
  </p>
  <div onclick="goToElement('#whatWeDo')" class="going-down">
    <div class="images">
      <img class="circle fade-in" src="../../src/assets/img/icons/circle.svg" alt="circle">
      <img class="arrow fade-in" src="../../src/assets/img/icons/down-arrow.svg" alt="arrow">
    </div>
  </div>
</div>