<div id="investments" class="container px-2" data-sal="slide-up">

  <div class="row row-cols-md">
  {{!-- <div class="row row-cols-1 row-cols-md-3"> --}}
    <div class="partners-grid px-2">

      <div class="investment-icons-desktop" data-sal="slide-up">
         <img src="../../src/assets/img/investment-logos/inari-desktop.svg" alt="Inari">
         <a href="https://www.inari.com"
          rel="noopener noreferrer"
          target="_blank">
            <p><span>Pioneering true to nature technologies in plant breeding to achieve the greatest possible yield increases while decreasing environmental impacts.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/meati-desktop.png" alt="Meati">
        <a href="https://www.meati.com"
          rel="noopener noreferrer" target="_blank">
          <p><span>Producing nutritious, unprocessed and sustainable plant based whole muscle meat analogues from mycelium.</span></p>
        </a>
      </div>

      {{!-- FBN logo to always be positioned in the top right --}}
      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/fbn-desktop.svg" alt="Farmers Business Network">
         <a href="https://www.fbn.com" 
          rel="noopener noreferrer" target="_blank">
          <p><span>Helping family farmers maximize profit potential by leveraging technology to reduce cost, maximize the value of crops and make confident decisions.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/agrofy-desktop.svg" alt="Agrofy">
        <a href="https://www.agrofy.com.ar"
          rel="noopener noreferrer" target="_blank">
          <p><span>Building the online marketplace for Latin America's agribusiness.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/ascribe-bioscience.png" alt="Ascribe Bioscience">
        <a href="https://ascribebio.com"
          rel="noopener noreferrer" target="_blank">
          <p><span>Developing biopesticides that enable farmers to combat crop pathogens without negative impacts on environmental or human health.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/back-to-the-roots-desktop.svg" alt="Back to the Roots">
         <a href="https://www.backtotheroots.com" 
          rel="noopener noreferrer" target="_blank">
          <p><span>Connecting people to where food comes from with award winning organic small space gardening kits, seeds and soils.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/bcd-bioscience-desktop.png" alt="BCD Bioscience">
         <a href="https://www.bcdbio.com" 
          rel="noopener noreferrer" target="_blank">
          <p><span>Leveraging an advanced carbohydrate discovery platform to efficiently create novel prebiotics and synbiotics across broad applications.</span></p>
        </a>
     </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/corvium-logo.png" alt="Corvium">
         <a href="https://www.corvium.com" 
          rel="noopener noreferrer" target="_blank">
          <p>Ensuring in-plant food safety for producers of all sizes via data intelligence solutions.</p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/infinant.svg" alt="Infinant Health">
         <a href="https://www.infinanthealth.com" 
          rel="noopener noreferrer" target="_blank">
          <p><span>Developing the next generation of probiotic-based products to establish, restore, and maintain a healthy newborn gut microbiome.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <div class="acquired small-heading">Acquired</div>
        <img src="../../src/assets/img/investment-logos/impact-vision-desktop.svg" alt="Impact Vision">
         <a href="https://www.impactvi.com"
          rel="noopener noreferrer" target="_blank">
          <p><span>Building a more transparent and effective global food system, using hyperspectral technology.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img class="loam" src="../../src/assets/img/investment-logos/loam.png" alt="Loam">
         <a href="https://loambio.com/"
          rel="noopener noreferrer" target="_blank">
          <p><span>Creating novel microbial products for carbon sequestration that both improve soil health and enable farmers to capture value via carbon offsets.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/mori-desktop.svg" alt="Mori">
         <a href="https://www.mori.com" 
          rel="noopener noreferrer" target="_blank">
          <p><span>Utilizing naturally derived silk protein to create products that slow down the key mechanisms which cause food to spoil.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/MOSS.png" alt="Moss">
         <a href="https://moss.earth/" 
          rel="noopener noreferrer" target="_blank">
          <p><span>Combating climate change by creating digital solutions for environmental assets using the blockchain.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/PF_Logo_Horizontal_Black 1.svg" alt="PlanetFwd">
         <a href="https://www.planetfwd.com/" 
          rel="noopener noreferrer" target="_blank">
          <p><span>Leading carbon management platform, leveraging the largest LCA database for agricultural products + advanced value chain modeling.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/safe-fair-desktop.svg" alt="Safe and Fair">
         <a href="https://www.safeandfair.com" 
          rel="noopener noreferrer" target="_blank">
          <p><span>Serving millions of families coping with food allergies with delicious allergen-free foods at affordable prices.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/Source_Logo_Black.svg" alt="Source">
         <a href="https://source.ag/" 
          rel="noopener noreferrer" target="_blank">
          <p><span>Advanced A.I. enabling the world’s best growers to operate more efficiently, making indoor farming accessible, profitable and globally scalable.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/spoiler-alert-desktop.svg" alt="Spoiler">
         <a href="https://www.spoileralert.com" 
          rel="noopener noreferrer" target="_blank">
          <p><span>Powering the CPG industry’s efforts to manage excess & short-dated inventory.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/switchbioworks.png" alt="Switch Bioworks">
         <a href="https://www.switchbioworks.com/" 
          rel="noopener noreferrer" target="_blank">
          <p><span>Pioneering symbiotic microbes that displace chemical nitrogen fertilizer.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/supergut-logo-black.png" alt="Supergut">
         <a href="https://www.supergut.com/" 
          rel="noopener noreferrer" target="_blank">
          <p><span>Improving the well-being of those with chronic health conditions through nutrition products targeting the microbiome.</span></p>
        </a>
      </div>

      <div class="investment-icons-desktop" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/people-science.png" alt="People Science">
         <a href="https://peoplescience.health/" 
          rel="noopener noreferrer" target="_blank">
          <p><span>Building a tech-enabled scientific research company to test alternative medicines and wellness interventions like food as medicine.</span></p>
        </a>
      </div>

    </div>
   </div>
  </div>
</div>




<section class="investment-grid">
  <div class="container">
   <div id="investment-logo">

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/inari.svg" alt="Inar">
      </div>

      {{!-- FBN logo to always be positioned in the top right --}}
      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/fbn.svg" alt="Farmers Business Network">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img class="meati" src="../../src/assets/img/investment-logos/meati.png" alt="Meati">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img class="agrofy" src="../../src/assets/img/investment-logos/agrofy.svg" alt="Agrofy">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/ascribe-bioscience.png" alt="Ascribe Bioscience">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/back-to-the-roots.svg" alt="Back to the Roots">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/bcd-bioscience.png" alt="BCD Bioscience">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/corvium-logo.png" alt="Corvium">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/infinant.svg" alt="Infinant Health">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <div class="acquired small-heading">Acquired</div>
        <img src="../../src/assets/img/investment-logos/impact-vision.svg" alt="Impact Vision">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/loam.png" alt="Loam">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/mori.svg" alt="mori">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/MOSS.png" alt="moss">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/PF_Logo_Horizontal_Black 1.svg" alt="PlanetFwd">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/safe-fair.svg" alt="Safe and Fair">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/Source_Logo_Black.svg" alt="Source">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/spoiler-alert.svg" alt="Spoiler">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/switchbioworks.png" alt="Switch Bioworks">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/supergut-logo-black.png" alt="Supergut">
      </div>

      <div class="investment-icons" data-sal="slide-up">
        <img src="../../src/assets/img/investment-logos/people-science.png" alt="People Science">
      </div>
    </div>
  </div>
</section>


{{!-- <script>
  // get list items, get big logo
  const listitems = document.querySelectorAll("#desktop-logo-list li");
  let biglogo = document.querySelector("#big-investment-logo img");

  // loop through list items, add hover listener & replace big logo with data-image (if it exists)
  listitems.forEach(function (el) {
    el.addEventListener("mouseover", function (event) {
      let dataimage = event.srcElement.dataset.image;
      if (dataimage) {
        biglogo.src = dataimage;
      }
    }, false);
  })
</script> --}}
