<div id="partners" class="container" data-sal="slide-up">
  <p class="h1 text-center" id="partnersLink"  data-sal="slide-up">
    Who we partner with.
  </p>
  <p class="small-heading text-center" data-sal="slide-up">
    Our companies
  </p>

  {{!-- <div class="row">
    <div class="col-sm-6">
      <img src="../../src/assets/img/inari.jpg" alt="Inari" data-sal="slide-up" data-sal="fade" >
      <p class="quote text-center" data-sal="slide-up">
        “This is a placeholder for a quote, that can be up to two lines of text”
      </p>
      <p class="author text-center">
        Name, Job title
      </p>
    </div>
    <div class="col-sm-6">
      <img src="../../src/assets/img/meati.png" alt="Meati"  data-sal="slide-up" data-sal="fade">
      <p class="quote text-center" data-sal="slide-up">
        “This is a placeholder for a quote, that can be up to two lines of text”
      </p>
      <p class="author text-center">
        Name, Job title
      </p>
    </div>
  </div> --}}
</div>