<div id="team" class="container mt-5 text-center" data-sal="slide-up">
  <p class="h1 text-center" data-sal="slide-up">
    Who we are.
  </p>
  <p class="small-heading text-center" data-sal="slide-up">
    Our team
  </p>
</div>

<div class="container" data-sal="slide-up">

  <div class="team-grid">

    <div onclick="" class="team-profile" data-sal="slide-up">
      <div class="profile-details">
        <div class="name">Bill<br />Helman</div>
        <div class="role"></div>
        <a
          href="https://www.linkedin.com/in/bill-helman-1b63083/"
          rel="noopener noreferrer"
          target="_blank"
        ><span><p>LinkedIn</p></span>
        </a>
      </div>
    </div>

    <div onclick="" class="team-profile" data-sal="slide-up">
      <div class="profile-details">
        <div class="name">Lucas<br />Mann</div>
        <div class="role"></div>
        <a
          href="https://www.linkedin.com/in/lucas-mann-4370221b5/"
          rel="noopener noreferrer"
          target="_blank"
        ><span><p>LinkedIn</p></span>
        </a>
      </div>
    </div>

    <div onclick="" class="team-profile" data-sal="slide-up">
      <div class="profile-details">
        <div class="name">David<br />Chang</div>
        <div class="role"></div>
        <a
          href="https://www.linkedin.com/in/david-chang-18b5bb1bb/"
          rel="noopener noreferrer"
          target="_blank"
        ><span><p>LinkedIn</p></span>
        </a>
      </div>
    </div>

    <div onclick="" class="team-profile" data-sal="slide-up">
      <div class="profile-details">
        <div class="name">Gareth<br />Asten</div>
        <div class="role"></div>
        <a
          href="https://www.linkedin.com/in/gareth-asten-5709801ab/"
          rel="noopener noreferrer"
          target="_blank"
        ><span><p>LinkedIn</p></span>
        </a>
      </div>
    </div>

    <div onclick="" class="team-profile" data-sal="slide-up">
      <div class="profile-details">
        <div class="name">Alex<br />Bondar</div>
        <div class="role"></div>
        <a
          href="https://www.linkedin.com/in/alex-b-5b94887/"
          rel="noopener noreferrer"
          target="_blank"
        ><span><p>LinkedIn</p></span>
        </a>
      </div>
    </div>

    <div onclick="" class="team-profile" data-sal="slide-up">
      <div class="profile-details">
        <div class="name">Jeff<br />Dunn</div>
        <div class="role"></div>
        <a
          href="https://www.linkedin.com/in/dunnbolthouse/"
          rel="noopener noreferrer"
          target="_blank"
        ><span><p>LinkedIn</p></span>
        </a>
      </div>
    </div>

    <div onclick="" class="team-profile" data-sal="slide-up">
      <div class="profile-details">
        <div class="name">Melissa<br />Gordon</div>
        <div class="role"></div>
        <a
          href="https://www.linkedin.com/in/melissa-gordon-28721416/"
          rel="noopener noreferrer"
          target="_blank"
        ><span><p>LinkedIn</p></span>
        </a>
      </div>
    </div>

    <div onclick="" class="team-profile" data-sal="slide-up">
      <div class="profile-details">
        <div class="name">Wilson<br />Helman</div>
        <div class="role"></div>
        <a
          href="https://www.linkedin.com/in/wilson-helman-46a28687/"
          rel="noopener noreferrer"
          target="_blank"
        ><span><p>LinkedIn</p></span>
        </a>
      </div>
    </div>

    <div onclick="" class="team-profile" data-sal="slide-up">
      <div class="profile-details">
        <div class="name">Sam<br />Kass</div>
        <div class="role"></div>
        <a
          href="https://en.wikipedia.org/wiki/Sam_Kass"
          rel="noopener noreferrer"
          target="_blank"
        ><span><p>Wikipedia</p></span>
        </a>
      </div>
    </div>

    <div onclick="" class="team-profile" data-sal="slide-up">
      <div class="profile-details">
        <div class="name">Lynda<br />Deakin</div>
        <div class="role"></div>
        <a
          href="https://www.linkedin.com/in/lynda-deakin-a81b352/"
          rel="noopener noreferrer"
          target="_blank"
        ><span><p>LinkedIn</p></span>
        </a>
      </div>
    </div>
  </div>
</div>