<div id="whatWeDo">
  <div class="container justify-content-center">
    <div class="images">
      <img class="farm fade-in" src="../../src/assets/img/man-in-field.jpg" alt="Man on a farm.">
      <img class="inset-image" src="../../src/assets/img/terraces.jpg" alt="Man in field.">
    </div>
    <p class="h1 my-4 py-4" data-sal="slide-up" data-sal-delay="100" id="whatWeDoLink">We know food, and<br>we know the system.</p>
    <div class="row px-lg-4">
      <div class="col-md-2 d-none d-md-block" data-sal="slide-up" data-sal-delay="150">
        <p class="small-heading">What we do</p>
      </div>
      <div class="col-md-5 text-block">
        <p data-sal="slide-up">
          We partner with companies providing the breakthrough technologies and critical infrastructure necessary to enable a
          greatly improved food ecosystem - one in which positive outcomes for human and environmental health are prioritized
          alongside profitability and convenience.
        </p>
        <p data-sal="slide-up">
          We founded Acre on the thesis that driving positive, sustainable change in food and agriculture will result in outsized
          returns. Both are essential. No compromises.
        </p>
      </div>
      <div class="col-md-5 text-block">
        <p data-sal="slide-up">
          We’re operators, entrepreneurs, policy makers, sustainability experts and investors with a long history in food,
          agriculture and disruption. We also believe venture is a service business. These things enable us to be a partner with a
          helpful viewpoint - from agtech to food to consumer - but also one that can help shape outcomes in a meaningful way.
        </p>
        <p data-sal="slide-up">
          Our perspective is grounded in operating history, authentic relationships and a pragmatic view of how bold ideas can
          change the world.
        </p>
      </div>
    </div>
    <div class="row" id="technologies">
      <div class="col-sm-12 text-center">
        <p class="my-0" data-sal="slide-up" data-sal="fade">
          We look for the infrastructure and technologies creating systemic changes in the following areas:
        </p>
      </div>

    <section class="container icons-container" >
        <div class="row">
          <div class="layout-icons col-6 col-md-3 col-sm-6 py-3 my-2 d-flex flex-column">
            <img class="technologies-icon" src="../../src/assets/img/icons/population-health.svg" data-sal="slide-up" alt="Population Health">
            <h5 data-sal="slide-up">Population <br>health</h5>
          </div>

          <div class="layout-icons col-6 col-md-3 py-3 col-sm-6 my-2 d-flex flex-column">
            <img class="technologies-icon" src="../../src/assets/img/icons/planetary-wellbeing.svg" data-sal="slide-up" alt="Planetary well-being">
            <h5 data-sal="slide-up">Planetary <br>well-being</h5>
          </div>

          <div class="layout-icons responsible-production col-6 col-md-3 py-3 col-sm-6 my-2 d-flex flex-column">
            <img class="technologies-icon" src="../../src/assets/img/icons/responsible-process.svg"  alt="Responsible production" data-sal="slide-up">
            <h5 data-sal="slide-up">Responsible production <br class="d-none d-sm-block">and consumption</h5>
          </div>

          <div class="layout-icons col-6 col-md-3 py-3 col-sm-6 my-2 d-flex flex-column">
            <img class="technologies-icon d-none d-sm-block" src="../../src/assets/img/icons/climate-solutions.svg" alt="Climate solution" data-sal="slide-up">
            <img class="technologies-icon d-sm-none" src="../../src/assets/img/icons/climate-solutions-alt.svg" alt="Climate Solutions" data-sal="slide-up">
            <h5 data-sal="slide-up">Climate <br>solutions</h5>
          </div>
        </div>
      </div>
    </section>

    </div>
  </div>
</div>