<!DOCTYPE html>
<html lang="en">
  {{> ./partials/head.hbs }}
  <body class="scroll-up">
    <header>
      {{> ./partials/header.hbs }} 
    </header>
    <main>
      {{> ./partials/introduction.hbs }}
      {{> ./partials/what-we-do.hbs }}
      {{> ./partials/slider.hbs }}
      {{> ./partials/partners.hbs }}
      {{> ./partials/investments.hbs }}
      {{> ./partials/team.hbs }}
    </main>
    <footer>
      {{> ./partials/footer.hbs }}
    </footer>
  </body>
</html>