<!DOCTYPE html>
<html lang="">
  {{> ./partials/head.hbs }}
  {{> ./partials/header.hbs }}
  <body>
    <main>
      <div id="termsConditions">
        <div class="container mb-5 px-5 py-5">
          <h1>Terms & Conditions</h1>
          <h4>Effective Date: May 8, 2017</h4>
          <h5>User Agreement</h5>
          <p>Welcome to the website of AVP Management Company, LLC (“Acre Venture Partners”, “we”, “us” or “our”). By accessing this website, you agree to comply with this user agreement, which is a legally binding agreement between you and Acre Venture Partners (“User Agreement”) and which governs your access and use of the website. If you do not accept the terms of the User Agreement, do not use this website. Your use of this website indicates your full acceptance of this User Agreement in its then-current form each time you use the website. Acre Venture Partners reserves the right to change the terms and conditions at any time. Those changes will go into effect on the effective date shown in the revised User Agreement. If we change this User Agreement, we will give attempt to give you notice by posting a notice on the website, and, if you have provided us with your e-mail address, we may also send an e-mail to you at the last e-mail address you provided to us. We also encourage you to check this User Agreement from time to time to see if it has been updated.
          </p>

          <p>The information that we provide is for your information only. Some information provided may not be current, or may have changed since the last time you viewed or downloaded it. All information is subject to change without notice. We do not in any way represent or warrant the accuracy or reliability of any of the information provided on this website, and all information is provided subject to the disclaimers and limitations of liability set forth below.</p>

          <h5> No General Solicitation or General Advertising of Security Interests</h5>
          <p>The material contained in this website is intended only for financially sophisticated investors and is for their private use. The material contained in this website does not constitute any offer or sale or any form of general solicitation or general advertising of interests in Acre Venture Partners private investment funds. Such private investment funds rely on private placement exemptions to registration under the Securities Act of 1933 (or the securities laws of any states) and have not been registered as investment companies under the Investment Company Act of 1940.</p>

          <h5>Informational Purposes Only</h5>

          <p>Nothing on this website is an offer or solicitation to buy or sell any security, and Acre Venture Partners is not soliciting any action based on the website. Nothing on this website is a recommendation that you purchase, sell or hold any security, or that you pursue any investment style or strategy. Nothing on this website is intended to be, and you should not consider anything on the website to be, investment, accounting, tax or legal advice. The past performance of any investment, investment strategy or investment style is not indicative of future performance.</p>

          <h5>Ownership and Proprietary Rights to Content</h5>
          <p>This website is owned and operated by Acre Venture Partners. Any claims or concerns regarding this website should be addressed to Acre Venture Partners: phone (310) 912-2495; or email hello@acre.vc. You acknowledge and agree that this website contains information, data, software, photographs, graphics, text, images, logos, icons, typefaces, audio and video material, and/or other material protected by copyrights, trademarks, or other proprietary rights, and that these rights are valid and protected in all forms, media, and technologies existing now or hereinafter developed. The content of this website is our property or that of our suppliers or licensors and is protected by U.S. and international copyright laws. You may not modify, remove, delete, augment, add to, publish, transmit, participate in the transfer, license, sell, create derivative works from, or in any way exploit any of the content, in whole or in part. You may not upload, post, reproduce, perform, or distribute in any way any content from the website without obtaining permission of the owner of the copyright, trademark or other proprietary right.</p>

          <h5>Online Privacy</h5>
          <p>Acre Ventures Partners does not collect any personally identifiable information about visitors to the publicly available areas of its website including names, addresses, phone numbers or social security numbers. If you submit an inquiry to hello@acre.vc, we may collect your email address for purposes of responding only. In the event that you provide Acre Venture Partners with any non-public personal information through the password protected portion of our website, our privacy policy shall apply. We do not disseminate the non-public personal information of our investors to any third parties unless in the furtherance of servicing their accounts or as required by law or regulation or as described in our privacy policy.</p>

          <h5>Disclaimers</h5>
          <p>You expressly understand and agree that: (a) Your use of the website is at your sole risk. The website is provided on an “as is” and “as available” basis. To the fullest extent permissible pursuant to applicable law, we expressly disclaim all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement; (b) We do not warrant or represent that (i) the website will meet your requirements, (ii) the website will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the website will be accurate or reliable, (iv) the quality of any services, or information, or other material obtained by you through the website will meet your expectations, (v) the server that makes the website available is free of viruses or other harmful components; or (vi) any errors in any software will be corrected; (c) Any material downloaded or otherwise obtained through the use of the website is done at your own discretion and risk and that you will be solely responsible for any loss or damage incurred, including, without limitation, damage to your computer system or loss of data that results from the download of any such material. You (and not us or any of our affiliated entities or any of our or their respective licensors or suppliers) assume the entire cost of all necessary servicing, repair or correction to restore your system; and (d) No advice or information, whether oral or written, obtained by you from us or through or from the website shall create any warranty not expressly stated in this User Agreement. Applicable law may not allow the exclusion of implied warranties, so the above exclusion may not apply to you.</p>

          <h5> Limitation of Liability</h5>
          <p>To the maximum extent permitted by applicable law, we shall not be liable for any direct, indirect, incidental, special or consequential damages, resulting from the use of or the inability to use the website, including but not limited to, damages for loss of profits, use, data or other intangible loss, even if we have been advised of the possibility of such damages. If you are dissatisfied with any portion of the website, or with any of portion of this User Agreement, your sole and exclusive remedy is to discontinue using this website. The above limitation of liability is intended to apply without regard to whether other provisions of this User Agreement have been breached or have proven ineffective or if a remedy fails of its essential purpose. You acknowledge and understand that the disclaimers, exclusions and limitations of liability set forth in this User Agreement form an essential basis of the agreement between the parties hereto, that the parties have relied upon such disclaimers, exclusions and limitations of liability, and that absent such disclaimers, exclusions and limitations of liability, the terms and conditions of this User Agreement and relating to your use of the website would be substantially different.</p>

          <h5>International Use</h5>
          <p>We make no representation that materials on this website are appropriate or available for use in locations outside the United States, and accessing them from territories where their contents are illegal is prohibited. Those who choose to access this website from other locations do so on their own initiative and are responsible for compliance with local laws.</p>

          <h5>Termination</h5>
          <p>We may terminate your access, or suspend any user’s access to all or part of this website, without notice, for any conduct that we, in our sole discretion, believe is in violation of any applicable law or is harmful to the interests of another user, a third-party provider, a service provider, or us.</p>

          <h5>General</h5>
          <p class="last-p">If any provision of this User Agreement should be held to be unenforceable or invalid for any reason, then such provision or portion thereof shall be modified or deleted in such manner as to render this User Agreement, as modified, legal and enforceable to the maximum extent permitted under applicable laws. The terms of this User Agreement are the final, complete and exclusive agreement of the parties with respect to the specific subject matter hereof.</p>

        </div>
      </div>
    </main>
    <footer>
      {{> ./partials/footer.hbs }}
    </footer>
  </body>
</html>